h1 {
    font-weight: 100; 
    font-size: 2.5em;
    color: white;
}

body {
    background-image: url("blackhole.jpg");
    background-size: 100%;
    background
}

#content { 
 width: 600px; 
 margin: 0 auto; 
 margin-top: 50px;    
 text-align: center; 
 font-family: 'Helvetica Neue', arial; 
 font-weight: 100;
 color: white;
}

div.eight-ball {
  background-color: black;
  border: 1px solid black;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

div.answer {
  background-color: #333;
  border: 1px solid #333;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25% auto;
}

p#eight {
  font-size: 5em;
  margin: 20% auto;
  color: white;
}

p#answer {
  padding: 23px;
  color: lightblue;
  letter-spacing: 2px;
  font-size:18px;
}

#question {
  margin: 20px;
  padding: 10px;
  width: 400px;
  font-size:22px;
}

#info {
  font-size: 22px;
}
